
.hero {
  position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
}


.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 10px 20px;
  border-radius: 5px;
  bottom: 10px;
  opacity: 0; /* Initially hide the content */
  animation: fadeInContent 1s forwards, moveUp 2s infinite alternate; 
}

.heroContent h2 {
  margin: 0;
  color: rgba(0, 0, 0, 0);
  animation: fadeInText 1s forwards; 
  background-color: rgb(96, 196, 50);
  padding: 20px 10px ;
  font-family: 'Arial', sans-serif;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translate(-50%, -60%); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); 
  }
}

@keyframes fadeInText {
  from {
    color: rgba(0, 0, 0, 0); 
  }
  to {
    color: rgba(0, 0, 0, 0.8); 
  }
}

@keyframes moveUp {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -55%);
  }
}