
.hero {
  position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden;
  margin-bottom: 40px;
}

.heroImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
}


.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 10px 20px;
  border-radius: 5px;
  bottom: 10px;
  opacity: 0;
  animation: fadeInContent 1s forwards, moveUp 2s infinite alternate; 
}

.heroContent h2 {
  margin: 0;
  color: rgba(0, 0, 0, 0);
  animation: fadeInText 1s forwards; 
  background-color: rgb(96, 196, 50);
  padding: 20px 10px ;
  font-family: 'Arial', sans-serif;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translate(-50%, -60%); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); 
  }
}

@keyframes fadeInText {
  from {
    color: rgba(0, 0, 0, 0); 
  }
  to {
    color: rgba(0, 0, 0, 0.8); 
  }
}

@keyframes moveUp {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -55%);
  }
}

.cardContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start; 
  overflow-x: auto; 
  gap: 30px;
  margin-left: 100px;
}

.card {
  background-color: #ddd4d4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 40%;
  max-width: 300px;
  
}

.card:last-child {
  margin-right: 0; 
}


.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.card p {
  color: #666;
}


.vision {
  border-left: 6px solid #28a745; 
  animation: fadeInSlideUp 1s forwards, scaleIn 0.8s ease-in-out 0.5s forwards; 
}

.mission {
  border-left: 6px solid rgb(194, 194, 77); 
  animation: fadeInSlideRight 1s forwards, scaleIn 0.8s ease-in-out 0.5s forwards;
}

.workforce {
  border-left: 6px solid #28a745; 
  animation: fadeInSlideLeft 1s forwards, scaleIn 0.8s ease-in-out 0.5s forwards; 
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0px; 
}

.circle h3 {
  color: #fff; 
}


@media (max-width: 768px) {
  .hero {
    height: 200px; 
    margin-bottom: 20px; 
  }
  
  .heroContent h2 {
    font-size: 14px; 
    padding: 10px; 
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin: 0 auto;
    padding: 0 10px; 
  }
  
  .card {
    width: 80%; 
    max-width: none;
    height: auto; 
  }

  .circle {
    width: 80px;
    height: 80px;
    margin-bottom: 20px; 
  }

  .circle h3 {
    font-size: 12px; 
  }
}
